.about {
    flex: 4;
    justify-content: center;
}

.about section {
    flex: 1;
}

.about .gray-box {
    width: 90%;
}

.about p {
    margin: 5px;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info img {
    flex: 1;
    max-width: 80%;
    margin: 20px;
}

.info ol {
    text-align: center;
}

.info ol li {
    margin-bottom: 5px;
}

@media (min-width: 700px) {
    .info {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .info .flex-col {
        flex: 1.5;
    }

    .info img {
        max-width: 50%;
        object-fit: contain;
    }
}