.contact {
    flex: 4;
    text-align: center;
    width: 100%;
    align-items: center;
}

.contact .flex-col {
    min-height: 80%;
}

.contact h2 {
    margin: 20px;
}

.contact a, .contact a:visited {
    color: blue;
    font-size: x-large;
}

.contact a:hover {
    color: red;
}

@media (min-height: 700px) {
    .contact .flex-col {
        min-height: 50%;
    }
}