/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.header {
    flex: 1;
    background: rgb(122, 1, 1);
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.header h1 {
    color: white;
}

.header a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.header nav {
    width: 90%;
    font-size: large;
    background: rgb(180, 10, 10);
    color: white;
    flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    margin: 10px;
}

nav a {
    flex: 1;
}

.header a:hover {
    color: black;
}

@media (min-width: 600px) {

    .header nav {
        width: 70%;
        font-size: x-large;
    }
}