.sprit {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../../Images/sprits/background.png');
    width: 100%;
    height: 100%;
    overflow: auto;
}

.sprit section {
    flex: 1;
}

.sprit img {
    max-width: 100%;
}

.sprit .gray-box {
    width: 90%;
}

.sprit p {
    margin: 10px;
}

.sprit a, .sprit a:visited {
    color: blue;
    margin: 10px;
}

.sprit a:hover {
    color: red;
}

.demo {
    font-size: x-large;
    background-color: rgb(236, 173, 184);
    padding: 20px;
    border-radius: 10px;
}

.stack {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack ul {
    list-style: none;
    padding: 0px;
}

.screenshot {
    margin: 20px;
}

@media (min-width: 600px) {
    .stack {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .sprit {
        font-size: x-large;
    }

    .demo {
        font-size: xx-large;
    }
}